*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(40, 40, 44);
    font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: black;
}

header {
    position: fixed;
    width: 100%;
    background-color: #DBCCA1;

}

#navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 85vw;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.logo-container {
    width: 70px;
    height: 100%;
    /* border-radius: 50%; */
    padding: 5px;
}

.logo {
    width: 70px;
    height: 100%;
    border-radius: 50%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    max-width: 600px;
    font-weight: 600;
}

.nav-list li {
    width: calc(100%/3);
}

.nav-item {
    font-size: 1.5em;
    /* height: 100%; */
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease;
    color: black;
}

.nav-item:hover {
    background-color: #79B0E9;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

#welcome-section {
    height: 100vh;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(45deg, rgb(26, 26, 29) 10%, rgb(69, 69, 74));
    background-size: 100%;
    overflow-y: hidden;
}

.welcome-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: clamp(.5rem, 5vw, 3rem);
}

.welcome-heading h1 {
    /* font-size: 3rem; */
    background: linear-gradient(45deg, #79B0E9, #DBCCA1, lightgrey, #DBCCA1, #79B0E9);

    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 10s linear infinite;
    text-align: center;
    font-family: 'Kaushan Script', 'cursive';
}

.welcome-heading h2 {
    color: lightgrey;
    /* font-size: 1.8rem; */
    text-align: center;
    font-size: clamp(.5rem, 4vw, 2.4rem);
    word-wrap: nowrap;
}


@keyframes gradient {
	0% {
		background-position: 400%;
	}
	
	100% {
		background-position: 0%;
	}
}

.founder {
    width: 60vw;
    height: 60vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
}

#projects {
    /* height: 1200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(135deg, rgb(69, 69, 74) 10%, lightgrey);
    background-size: 100%;
    padding: 100px 10px;
}

#projects h2 {
    font-size: clamp(1.7rem, 4vw, 2.4rem);
    color: black;
    font-weight: bolder;

}

#projects h3 {
    font-size: clamp(1rem, 3.5vw, 1.3rem);
}

#projects p {
    font-size: clamp(1rem, 2vw, 1rem);
}

.projects-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 0 2%;
}

.projects-heading h3 {
    font-size: clamp(.5rem, 2vw, 1.3rem); 
}

.project-container {
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-height: 30%;
    max-width: 1400px;
    
    margin: 0 auto;
}

.project-tile {
    width: calc(100%/3 - 20px); 
    height: calc(100%/2-20px);
    transition: 0.3s;
    border-radius: 5px;
    background-color:rgb(26, 26, 29);
}

  .project-tile:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    opacity: .7; */
  }

  .project-tile img {
    height: 60%;
    border-radius: 5px;
  }
  
  .card-container {
    /* padding: 2px 16px; */
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: lightgrey;
    text-align: center;
    padding: 2% 3%;
    /* padding-bottom: 10%; */
  }

  .card-container a {
    display: flex;
    justify-content: center;
  }

  .src-code {
    padding: 15% 50%;
    text-align: center;
    vertical-align: center;
    background-color: #DBCCA1;
    border-radius: 5px;
    font-size: clamp(1rem, 3.5vw, 1.3rem);
    cursor: pointer;
  }


@media(max-width: 1000px) {
    .project-tile {
        width: calc(100%/2 - 20px);
    }
}


@media(max-width: 768px) {
    .hamburger {
        display: block;
        padding: 1rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #navbar {
        height: 70px;
    }

    .nav-list {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 120px;
        gap: 0;
        flex-direction: column;
        background-color: #DBCCA1;
        max-width: none;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-list li {
        width: 100%;
        height: calc(100%/3);
        /* padding: 0; */
    }

    .nav-item {
        width: 100%;
        height: 100%;
        /* color: lightgrey; */
    }

    .nav-item:hover {
        /* color: black;
        background-color: lightgrey; */
    }

    .nav-list.active {
        left: 0;
    }

    .project-tile {
        width: calc(100% - 20px);
    }

}
